/*
 Fonts downloaded from: https://www.1001freefonts.com/
 Fonts converted from TFF to WOFF2 using: https://cloudconvert.com/ttf-to-woff2
*/
@font-face {
    font-family: immortal;
    src: url(fonts/IMMORTAL_.woff2);
}


* {
    margin: 0;
}

body {
    background-color: #333300;
}


.row {
    display: flex;
}

.left {
    width: 30%;
    min-width: 300px;
    height: 100vh;
    background-size: cover;
    background-image: url("images/skelly-wall.jpg");
    /*background-color: black;*/
}

.banner {
    margin-top: 100px;
    color: #ffd700;
    font-family: immortal, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.right {
    width: 70%;
    min-width: 800px;
    height: 100vh;

    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #FFD700 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #FFD700 100%);
    background: linear-gradient(to bottom, #000000 0%, #FFD700 100%);

}

form {
    width: 90%;
    margin: auto;
    color: white;
}

fieldset {
    display: flex;

    flex-wrap: wrap;
    margin: 10px;

    background-color: darkgoldenrod;

    -webkit-box-shadow: 5px 5px 5px 2px #FFFB60;
    box-shadow: 5px 5px 20px 2px #FFFB60;

    border: 5px outset rgba(211, 240, 10, 0.51);

}

.label-input-container {
    display: inline-block;
    margin: 3px;
}




button {
    background-color: #ffffcc;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
}

#equipment {
    width: 100%;
}

#createAccount {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#createAccount div.label-input-container {
    display: block;

    label {
        display: block;
    }
}

.create-account-left {
    display: flex;
    flex-direction: column;

}

.create-account-right {}